.movies {
  width: 100%;
  height: 100%;
  background: rgb(255, 255, 255);
}

.mov__hero {
  position: relative;
  width: 100%;
  height: 80%;
  overflow: hidden;
}

.hero-lgg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.404));
  z-index: 2;
}

.carousel-inner {
  width: 100%;
  height: 800px;
}

.carousel-indicators {
  position: absolute;
  top: 50%;
  left: auto;
  right: 50px;
  transform: translate(0, -50%);

  width: 60px;
  height: 140px;
  margin: 0;
  display: flex;
  flex-direction: column;
  z-index: 50;
}

.carousel-item {
  padding-top: 20px;
  margin-top: -70px;
}

.carousel-indicators [data-bs-target] {
  position: relative;
  width: 0px;
  margin: 12px 0;

  font-size: 20px;
  font-weight: 700;
  text-indent: 40px;

  display: flex;
  align-items: center;

  color: #fff;
  border-radius: 10px;
  border: none;
  z-index: 10;

  &.active {
    width: 27px;
    height: 4px;
    font-size: 30px;
  }
}

.car-item1 {
  @include bg-img();
  background-image: url("/images/hero.png");
}

.car-item2 {
  @include bg-img();
  background-image: url("/images/img1.jpeg");
}

.car-item3 {
  @include bg-img();
  background-image: url("/images/hero-img-3.webp");
  background-position: center top;
}

.car-item4 {
  @include bg-img();
  background-image: url("/images/hero-img-4.jpeg");
  background-position: center top;
}

.car-item5 {
  @include bg-img();
  background-image: url("/images/hero-img-5.jpg");
  background-position: center top;
}

.hero__top {
  position: relative;
  width: 100%;
  height: 50px;
  margin-top: 20px;
  z-index: 100;
}

.hero__search-box {
  max-width: 525px;
  height: 35px;
  border-radius: 6px;
  border: 2px solid #d1d5db;
  overflow: hidden;
  padding-right: 10px;
}

.hero-top__input {
  width: 500px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  border: none;
  outline: none;
  color: #fff;
  background: transparent;
  padding: 6px 10px;

  &::placeholder {
    color: #fff;
  }
}

.hero__icon-search {
  margin-top: 5px;
  font-size: 23px;
  color: #fff;
  border: none;
  background: transparent;
}

.hero-top__menu {
  width: auto;
  height: 35px;
}

.hero-top__menu-tit {
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 0;
  margin-right: 25px;
}

.hero-top__menu-btn {
  background: transparent;
  border: none;
}

.hero__desc_box {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: auto;
  height: auto;
  z-index: 100;
}

.hero__desc {
  max-width: 410px;
  height: auto;
}

.hero__retn {
  margin-bottom: 20px;
}

.hero__title {
  font-family: sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;

  color: #fff;
  margin-bottom: 15px;
}

.hero__text {
  height: auto;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;

  color: #fff;
}

.hero__btn {
  font-family: sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;

  color: #fff;
  padding: 6px 14px;
  background: #be123c;
  border-radius: 6px;
  border: none;
}

.btns__box {
  position: absolute;
  top: 50%;
  right: 50px;
  transform: translate(0, -50%);
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
}

.hero__btn-car {
  width: 15px;

  font-weight: 700;
  font-size: 14px;
  line-height: 14px;

  color: #9ca3af;
  margin-bottom: 12px;

  border: none;
  background: transparent;
  transition: all 0.3s ease;

  &:hover {
    color: #fff;
  }
}

.btnAct {
  font-weight: 700;
  font-size: 18px;
  line-height: 14px;
  color: #fff;
}

.hero__btn-car::before {
  content: "";
  position: absolute;
  top: 47%;
  left: -30px;
  transform: translate(0, -55%);
  width: 25px;
  height: 3px;
  border-radius: 10px;
  background: #fff;
}

@media screen and (max-width: 576px) {
  .hero__search-box {
    display: none !important;
  }
  .hero__title {
    font-size: 30px;
  }
  .hero__text {
    font-size: 12px;
  }
}

// MAIN PART -----------------

.main__inner {
  position: relative;
  padding-top: 70px;
}

.main__content-box {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.mov__list_box {
  position: relative;
  display: flex;
  flex-direction: column;
}

.mov__list-box {
  width: 100%;
  height: 540px;
  overflow: hidden;
  margin-bottom: 70px;
}

.mov__list {
  list-style-type: none;
  width: auto;
  height: 540px;
  margin: 0 auto;
  margin-bottom: 70px;
  padding: 0;
  transition: all 0.3s ease;
}

.mov__item {
  width: 310px;
  padding: 30px;
}

.mitem__box {
  position: relative;
  width: 250px;
  height: 540px;
  margin: 0 auto;
  overflow: hidden;
}

.mitem__img-box {
  width: 100%;
  height: 370px;
  margin-bottom: 10px;
}

.mitem__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.mitem__icon {
  position: absolute;
  top: 10px;
  right: 10px;

  width: 40px;
  height: 40px;
  color: #fff;

  padding: 5px 7px 1px 7px;
  border-radius: 50%;
  border: none;
  background: rgb(243, 0, 0);
}

.m-ite-act::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-54%, -50%);
  width: 13px;
  height: 11.5px;
  border-radius: 2px 2px 15px 15px;
  background: #fff;
}

.mitem__tit {
  font-family: sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: #9ca3af;
  margin-left: 10px;
  margin-bottom: 12px;
}

.mitem__title {
  font-family: sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: #111827;
  margin-left: 10px;
  margin-bottom: 5px;
}

.mitem__price-icon {
  margin-left: 10px;
  margin-bottom: 5px;
}

.bxs-star {
  font-size: 20px;
  line-height: 12px;
  color: #ddeb19;
  margin-right: 5px;
}

.mitem__rating {
  font-family: sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  color: #111827;
}

.mitem__add-btn {
  width: 120px;
  height: auto;
  border-radius: 10px;
  border: none;
  padding: 3px 5px;
  color: #fff;
  background: rgb(105, 103, 103);

  &:focus {
    background: rgb(73, 72, 72);
  }
}

.mov-list__top {
  position: relative;
  width: 100%;
  height: auto;
  padding: 0 30px;
  margin-bottom: 45px;
}

.mov-list__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 47px;
}

.mov-list__btn {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #be123c;
  border: none;
  display: flex;
  align-items: center;
  background: transparent;

  & .bx {
    font-size: 28px;
  }
}

.mov-list__car-btn {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);

  font-size: 70px;
  font-weight: normal;
  color: #6b7280;
  border: none;
  background: transparent;
}

.mlis__btn1 {
  left: -50px;
}

.mlis__btn2 {
  right: -50px;
}

.carusel_box {
  width: 500px;
  height: 900px;
  transform: rotateZ(-90deg);
}

// main con parts

.main__con-box {
  width: 100%;
  height: 80px;
  margin: 10px 0;
}

.con__box {
  width: 100%;
  height: auto;
  padding: 0 30px;
}

.con__form {
  width: 100%;
  height: auto;

  padding-bottom: 30px;
  padding-right: 10px;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.con__form_input {
  width: 350px;
  height: 40px;

  font-size: 22px;
  font-weight: 500;

  padding: 0 10px;
  @include form-inputs();
}

.selec-categor {
  width: 200px;
  height: 40px;

  font-size: 20px;
  font-weight: 600;

  padding: 0px 10px;

  @include form-inputs();
}
.selec-years1 {
  width: 80px;
  height: 40px;

  padding-left: 5px;

  font-size: 20px;
  font-weight: 600;
  @include form-inputs();
}

.selec-alp {
  width: 80px;
  height: 40px;

  padding-left: 5px;

  font-size: 20px;
  font-weight: 600;
  @include form-inputs();
}

.form-search-btn {
  font-size: 22px;
  font-weight: 700;

  color: #fff;
  background: #444;
  border: 1px solid #000;
  border-radius: 10px;

  padding: 7px 15px;
  transition: all 0.3s ease;

  &:hover {
    color: #fff;
    background: #666;
  }
}

// MAIN SEARCH BOX

.main__search-boxx {
  position: absolute;
  top: 150px;
  width: 100%;
  min-height: 550px;

  padding: 10px 0;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(224, 224, 224);
}

.msearch__list {
  width: 100%;
  height: auto;

  list-style-type: none;
  margin: 0;
  padding: 0;
}

.msearch-close-btn {
  width: 70px;
  height: 30px;
  margin-left: 91%;
  margin-bottom: 30px;
  border: none;
  border-radius: 10px;
  background: #555;
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  transition: all 0.2s ease;

  &:hover {
    background: #333;
  }
}

.msearch__text {
  font-size: 35px;
  font-weight: 700;

  color: #be123c;
  padding-left: 30px;
  text-align: center;
}
